Repository LedgerHQ/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: react, native

.github/labeler.yml:

react:
  - any: ["packages/react/**/*"]
native:
  - any: ["packages/native/**/*"]

LL-7702 - native/react - Add constant color (#37)
  packages/native/src/components/Layout/Modal/BaseModal/index.tsx
  packages/native/src/styles/palettes/dark.ts
  packages/native/src/styles/palettes/index.ts
  packages/native/src/styles/palettes/light.ts
  packages/react/src/styles/palettes/dark.json
  packages/react/src/styles/palettes/light.json
Labels: react, native

react/native: cleanup border-radius (#38)
  packages/native/src/components/Icon/IconBox/index.tsx
  packages/native/src/components/drawer/Notification/index.tsx
  packages/native/src/components/message/Alert/index.tsx
  packages/react/src/components/form/Radio/RadioElement.tsx
  packages/react/src/components/form/input/SelectInput/Option.tsx
  packages/react/src/components/form/selectionControls/Checkbox/Checkbox.tsx
  packages/react/src/components/message/Alert/index.tsx
  packages/react/src/components/navigation/progress/ProgressBar/Onboarding.tsx
  packages/react/src/components/toasts/tags/Tag/index.tsx
  packages/react/src/styles/global.ts
Labels: react, native

LL-7003 - native - Improve loader component (#36)
  packages/native/src/components/Loader/index.tsx
  packages/native/storybook/stories/Loader/Loader.stories.tsx
Labels: native

fix linter and tsc errors
  packages/native/storybook/stories/Form/Switch/Switch.stories.tsx
  packages/react/src/components/tabs/Tabs/Tabs.stories.tsx
  packages/react/src/components/tabs/Tabs/index.tsx
  packages/react/src/components/toasts/Badge/Badge.stories.tsx
  packages/react/src/components/toasts/Badge/index.tsx
  packages/react/src/styles/palettes/index.ts
Labels: react, native

use tab index
  packages/react/src/components/tabs/Tabs/index.tsx
Labels: react

core(react): add contributing guide and enhance readme
  CONTRIBUTING.md
  packages/react/README.md
Labels: react

Fix handling of font weights - add fonts in otf format
  packages/native/src/assets/fonts/inter/Inter-Bold.otf
  packages/native/src/assets/fonts/inter/Inter-Medium.otf
  packages/native/src/assets/fonts/inter/Inter-SemiBold.otf
  packages/native/src/components/Text/getTextStyle.ts
  packages/native/src/components/Text/index.tsx
  packages/native/src/providers/FontProvider/index.tsx
  packages/native/storybook/stories/Text/Text.stories.tsx
Labels: native

chore: move contributing file
  packages/react/CONTRIBUTING.md
Labels: react

Add proper justifyContent values (for React Native), remove incorrect ones
  packages/native/src/components/Layout/Flex/index.tsx
Labels: native

Add Table/Row component and story for it
  packages/native/src/components/Icon/IconBox/index.tsx
  packages/native/src/components/Layout/Table/Row.tsx
  packages/native/storybook/stories/Layout/Table.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

Cleanup Table/Row story
  packages/native/storybook/stories/Layout/Table.stories.tsx
Labels: native

Cleanup Table/Row props
  packages/native/src/components/Layout/Table/Row.tsx
Labels: native

Add iconSize and boxSize prop to IconBox component
  packages/native/src/components/Icon/IconBox/index.tsx
Labels: native

Use IconBox in Table/Row
  packages/native/src/components/Icon/IconBox/index.tsx
  packages/native/src/components/Layout/Table/Row.tsx
  packages/native/storybook/stories/Layout/Table.stories.tsx
Labels: native

Fix size of IconBox in Table/Row
  packages/native/src/components/Layout/Table/Row.tsx
Labels: native

Fix lint
  packages/native/src/components/Layout/Table/Row.tsx
Labels: native

Initiated shared containing all the colors
  .gitignore
  packages/native/package.json
  packages/native/src/styles/StyleProvider.tsx
  packages/native/src/styles/index.ts
  packages/native/yarn.lock
  packages/react/.storybook/preview.tsx
  packages/react/package.json
  packages/react/src/styles/StyleProvider.tsx
  packages/react/src/styles/index.ts
  packages/react/src/styles/palettes/colors.stories.tsx
  packages/react/src/styles/palettes/dark.json
  packages/react/src/styles/palettes/index.ts
  packages/react/src/styles/palettes/light.json
  packages/react/src/styles/styled-components.d.ts
  packages/react/src/styles/theme.ts
  packages/react/tsconfig.json
  packages/react/yarn.lock
  packages/shared/.npmignore
  packages/shared/index.ts
  packages/shared/package.json
  packages/shared/palettes/dark.ts
  packages/shared/palettes/index.ts
  packages/shared/palettes/light.ts
  packages/shared/tsconfig.json
Labels: react, native

use tag over badge component
  packages/react/src/components/tabs/Tabs/index.tsx
  packages/react/src/components/toasts/Badge/Badge.stories.tsx
  packages/react/src/components/toasts/Badge/index.tsx
  packages/react/src/components/toasts/tags/Tag/index.tsx
  packages/react/src/styles/theme.ts
Labels: react

toggle component
  packages/native/src/components/Form/Toggle/index.tsx
Labels: native

add stories
  packages/native/storybook/stories/Form/Toggle.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

LL-7552 - Create checkbox component (#33)
  packages/native/babel.config.js
  packages/native/src/components/Form/Checkbox/index.tsx
  packages/native/storybook/stories/Form/Checkbox.stories.tsx
  packages/native/storybook/stories/index.ts
  packages/native/tsconfig.json
Labels: native

LL-7346 - native - cleanup spacings (#34)
  packages/native/src/components/Layout/Modal/BaseModal/index.tsx
  packages/native/src/components/cta/Button/index.tsx
  packages/native/src/styles/theme.ts
  packages/native/storybook/stories/CenterView/index.tsx
  packages/native/storybook/stories/Particles/Spacing.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

review(table): update storybook nested layout
  packages/react/src/components/tables/Table/Table.stories.tsx
  packages/react/src/components/tables/Table/stories.helper.tsx
Labels: react

react: create spacing story (#35)
  packages/react/src/styles/Spacing.stories.tsx
Labels: react

design(react): add Table component
  packages/react/src/components/asorted/Text/index.tsx
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/layout/Grid/index.ts
  packages/react/src/components/tables/Table/Columns.tsx
  packages/react/src/components/tables/Table/Table.stories.tsx
  packages/react/src/components/tables/Table/index.tsx
  packages/react/src/components/tables/Table/stories.helper.tsx
Labels: react

native: create switch component (#30)
  packages/native/src/components/Form/Switch/index.tsx
  packages/native/storybook/stories/Form/Switch.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

react/native: cleanup border-radius (#38)
  packages/native/src/components/Icon/IconBox/index.tsx
  packages/native/src/components/drawer/Notification/index.tsx
  packages/native/src/components/message/Alert/index.tsx
  packages/react/src/components/form/Radio/RadioElement.tsx
  packages/react/src/components/form/input/SelectInput/Option.tsx
  packages/react/src/components/form/selectionControls/Checkbox/Checkbox.tsx
  packages/react/src/components/message/Alert/index.tsx
  packages/react/src/components/navigation/progress/ProgressBar/Onboarding.tsx
  packages/react/src/components/toasts/tags/Tag/index.tsx
  packages/react/src/styles/global.ts
Labels: react, native

LL-7702 - native/react - Add constant color (#37)
  packages/native/src/components/Layout/Modal/BaseModal/index.tsx
  packages/shared/palettes/dark.ts
  packages/shared/palettes/index.ts
  packages/shared/palettes/light.ts
Labels: native

LL-7003 - native - Improve loader component (#36)
  packages/native/src/components/Loader/index.tsx
  packages/native/storybook/stories/Loader/Loader.stories.tsx
Labels: native

Initiated shared package with theme colors (WIP)
  .gitignore
  packages/native/package.json
  packages/native/src/styles/StyleProvider.tsx
  packages/native/src/styles/index.ts
  packages/native/yarn.lock
  packages/react/.storybook/preview.tsx
  packages/react/package.json
  packages/react/src/styles/StyleProvider.tsx
  packages/react/src/styles/index.ts
  packages/react/src/styles/palettes/colors.stories.tsx
  packages/react/src/styles/palettes/dark.json
  packages/react/src/styles/palettes/index.ts
  packages/react/src/styles/palettes/light.json
  packages/react/src/styles/styled-components.d.ts
  packages/react/src/styles/theme.ts
  packages/react/tsconfig.json
  packages/react/yarn.lock
  packages/shared/.npmignore
  packages/shared/index.ts
  packages/shared/package.json
  packages/shared/palettes/dark.ts
  packages/shared/palettes/index.ts
  packages/shared/palettes/light.ts
  packages/shared/tsconfig.json
Labels: react, native

native: improve flexbox component
  packages/native/src/components/Layout/Flex/index.tsx
Labels: native

native: create ScrollContainerHeader component
  packages/native/package.json
  packages/native/src/components/Layout/ScrollContainerHeader/Header.tsx
  packages/native/src/components/Layout/ScrollContainerHeader/index.tsx
  packages/native/storybook/stories/Layout/ScrollContainerHeader.stories.tsx
  packages/native/storybook/stories/index.ts
  packages/native/yarn.lock
Labels: native
