Repository LedgerHQ/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: react, native

Hide right-most and left-most separators
  packages/native/src/components/Navigation/Stepper/index.tsx
Labels: native

chore(react): upgrade packages
  packages/react/package.json
  packages/react/yarn.lock
Labels: react

core(react): add license file
  packages/react/LICENSE
Labels: react

core(react): refine release & build script
  packages/react/package.json
  packages/react/scripts/prepareRelease.js
  packages/react/scripts/prepublish.js
  packages/react/tsconfig.prod.json
  packages/react/yarn.lock
Labels: react

core(react): fix eslint hooks plugin
  packages/react/package.json
  packages/react/yarn.lock
Labels: react

core(react): fix merged stuff
  packages/react/src/components/asorted/Text/Text.stories.tsx
  packages/react/src/components/tables/Table/Columns.tsx
  packages/react/src/components/tables/Table/index.tsx
  packages/react/src/components/tables/Table/stories.helper.tsx
  packages/react/src/styles/global.ts
Labels: react

core(react): flatten table component location
  packages/react/src/components/Table/Columns.tsx
  packages/react/src/components/Table/Table.stories.tsx
  packages/react/src/components/Table/index.tsx
  packages/react/src/components/Table/stories.helper.tsx
Labels: react

core(react): emit declaration files
  packages/react/tsconfig.prod.json
Labels: react

core(react): split up global font style
  packages/react/src/components/asorted/Text/styles.ts
  packages/react/src/styles/global.ts
Labels: react

core(react): remove dev dependencies from the final package.json file
  packages/react/scripts/prepareRelease.js
Labels: react

core(react): mark side effects to enable tree shaking
  packages/react/package.json
Labels: react

core(react): add barrel exports and inline images
  packages/react/src/assets/images/infiniteLoader.png
  packages/react/src/components/Tag/Tag.stories.tsx
  packages/react/src/components/Tag/index.tsx
  packages/react/src/components/asorted/index.ts
  packages/react/src/components/cards/index.ts
  packages/react/src/components/cta/index.ts
  packages/react/src/components/form/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/layout/index.ts
  packages/react/src/components/loaders/InfiniteLoader/image.tsx
  packages/react/src/components/loaders/InfiniteLoader/index.tsx
  packages/react/src/components/loaders/index.ts
  packages/react/src/components/message/index.ts
  packages/react/src/components/navigation/index.ts
  packages/react/src/components/navigation/progress/index.ts
  packages/react/src/components/tabs/index.ts
  packages/react/src/components/transitions/index.ts
  packages/react/src/index.ts
  packages/react/src/styles/StyleProvider.tsx
  packages/react/src/styles/index.ts
Labels: react

core(react): remove storybook dependencies aliases and paths
  packages/react/.storybook/webpack.config.js
  packages/react/src/components/Chart/Chart.stories.tsx
  packages/react/src/components/Table/Table.stories.tsx
  packages/react/src/components/Tag/Tag.stories.tsx
  packages/react/src/components/asorted/Divider/Divider.stories.tsx
  packages/react/src/components/asorted/Icon/Icons.stories.tsx
  packages/react/src/components/cards/Carousel/Carousel.stories.tsx
  packages/react/src/components/cta/Toggle/Toggle.stories.tsx
  packages/react/src/components/form/BaseInput/Input.stories.tsx
  packages/react/src/components/form/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/form/Radio/RadioElement.stories.tsx
  packages/react/src/components/form/SelectInput/Select.stories.tsx
  packages/react/src/components/form/SplitInput/SplitInput.stories.tsx
  packages/react/src/components/form/Switch/Switch.stories.tsx
  packages/react/src/components/layout/Grid/Grid.stories.tsx
  packages/react/src/components/layout/Popin/Popin.stories.tsx
  packages/react/src/components/layout/Side/Side.stories.tsx
  packages/react/src/components/message/Notification/Badge.stories.tsx
  packages/react/src/components/message/Notification/Notification.stories.tsx
  packages/react/src/components/message/Tooltip/Tooltip.stories.tsx
  packages/react/src/components/navigation/Aside/Aside.stories.tsx
  packages/react/src/components/navigation/Breadcrumb/Breadcrumb.stories.tsx
  packages/react/src/components/navigation/Header/Header.stories.tsx
  packages/react/src/components/navigation/progress/ProgressBar/Onboarding.stories.tsx
  packages/react/src/components/navigation/sideBar/Item/Item.stories.tsx
  packages/react/src/components/navigation/sideBar/SideBar/SideBar.stories.tsx
  packages/react/src/components/tabs/Bar/Bar.stories.tsx
  packages/react/src/components/tabs/Pill/Pill.stories.tsx
  packages/react/src/styles/Spacing.stories.tsx
  packages/react/src/styles/palettes/colors.stories.tsx
  packages/react/tsconfig.json
Labels: react

core(react): export individual icons
  packages/react/src/assets/index.ts
  packages/react/src/index.ts
Labels: react

core(react): move @types as dependencies
  packages/react/package.json
  packages/react/yarn.lock
Labels: react

core(react): export logos
  packages/react/src/assets/icons/logos/index.ts
  packages/react/src/assets/index.ts
Labels: react

core(react): restore react as dev deps
  packages/react/package.json
  packages/react/yarn.lock
Labels: react

fix: gitignore path
  .gitignore
Labels: none

LL-6663 - Add Slider component (not working on web), add svg icons
  packages/native/package.json
  packages/native/src/assets/icons/index.js
  packages/native/src/assets/icons/raw/medium/arrows-h.svg
  packages/native/src/components/Form/Input/NumberInput/index.tsx
  packages/native/src/components/Form/Slider/components.tsx
  packages/native/src/components/Form/Slider/index.native.tsx
  packages/native/src/components/Form/Slider/index.tsx
  packages/native/src/components/Form/Slider/slider.d.ts
  packages/native/src/components/Text/getTextStyle.ts
  packages/native/storybook/stories/Form/Slider/Slider.stories.tsx
  packages/native/storybook/stories/Text/Text.stories.tsx
  packages/native/storybook/stories/index.ts
  packages/native/yarn.lock
Labels: native

core(react): add readme
  .github/workflows/native.yml
  .github/workflows/react.yml
  packages/react/README.md
Labels: react

core(react): update readme
  packages/react/README.md
Labels: react

core(react): add more details regarding font setup in the readme
  packages/react/README.md
Labels: react

core(react): include index files and rename release script
  packages/react/package.json
Labels: react

v0.0.2
  packages/react/package.json
Labels: react

core(react): use npm for publishing
  packages/react/package.json
Labels: react

Created styles and animations for stepper component
  packages/native/src/components/Navigation/Stepper/index.tsx
  packages/native/src/styles/theme.ts
  packages/native/storybook/stories/Navigation/Stepper/Stepper.stories.tsx
Labels: native

Reorganize code for colocation and use the same props API as in desktop
  packages/native/src/components/Navigation/Stepper/index.tsx
  packages/native/storybook/stories/Navigation/Stepper/Stepper.stories.tsx
Labels: native

Fixed storybook props for stepper
  packages/native/storybook/stories/Navigation/Stepper/Stepper.stories.tsx
Labels: native

add primary c70
  packages/react/src/styles/palettes/dark.json
  packages/react/src/styles/palettes/index.ts
  packages/react/src/styles/palettes/light.json
Labels: react

badge story
  packages/react/src/components/toasts/Badge/Badge.stories.tsx
Labels: react

badge component
  packages/react/src/components/toasts/Badge/index.tsx
Labels: react

update tag story title to fit future badge component
  packages/react/src/components/toasts/tags/Tag/Tag.stories.tsx
Labels: react

LL-7552 - Create checkbox component (#33)
  packages/native/babel.config.js
  packages/native/src/components/Form/Checkbox/index.tsx
  packages/native/storybook/stories/Form/Checkbox.stories.tsx
  packages/native/storybook/stories/index.ts
  packages/native/tsconfig.json
Labels: native

review(table): update storybook nested layout
  packages/react/src/components/tables/Table/Table.stories.tsx
  packages/react/src/components/tables/Table/stories.helper.tsx
Labels: react

remove unused
  packages/react/src/components/toasts/Badge/Badge.stories.tsx
Labels: react

tabs component
  packages/react/src/components/tabs/Tabs/Tabs.stories.tsx
  packages/react/src/components/tabs/Tabs/index.tsx
Labels: react

design(react): add Table component
  packages/react/src/components/asorted/Text/index.tsx
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/layout/Grid/index.ts
  packages/react/src/components/tables/Table/Columns.tsx
  packages/react/src/components/tables/Table/Table.stories.tsx
  packages/react/src/components/tables/Table/index.tsx
  packages/react/src/components/tables/Table/stories.helper.tsx
Labels: react

react: create spacing story (#35)
  packages/react/src/styles/Spacing.stories.tsx
Labels: react

LL-7346 - native - cleanup spacings (#34)
  packages/native/src/components/Layout/Modal/BaseModal/index.tsx
  packages/native/src/components/cta/Button/index.tsx
  packages/native/src/styles/theme.ts
  packages/native/storybook/stories/CenterView/index.tsx
  packages/native/storybook/stories/Particles/Spacing.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

native: create switch component (#30)
  packages/native/src/components/Form/Switch/index.tsx
  packages/native/storybook/stories/Form/Switch.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

.github/labeler.yml:

react:
  - any: ["packages/react/**/*"]
native:
  - any: ["packages/native/**/*"]
