Repository LedgerHQ/ui, pull requests merged in 2021-10, with the labels that each got.

#5 LL-6650 - Select component
  packages/react/.storybook/webpack.config.js
  packages/react/package.json
  packages/react/src/components/asorted/Text/Text.css
  packages/react/src/components/asorted/Text/index.tsx
  packages/react/src/components/form/input/BaseInput/index.tsx
  packages/react/src/components/form/input/SelectInput/Control.tsx
  packages/react/src/components/form/input/SelectInput/DropdownIndicator.tsx
  packages/react/src/components/form/input/SelectInput/IndicatorsContainer.tsx
  packages/react/src/components/form/input/SelectInput/MenuList.tsx
  packages/react/src/components/form/input/SelectInput/Option.tsx
  packages/react/src/components/form/input/SelectInput/Select.stories.tsx
  packages/react/src/components/form/input/SelectInput/ValueContainer.tsx
  packages/react/src/components/form/input/SelectInput/VirtualMenuList.tsx
  packages/react/src/components/form/input/SelectInput/index.tsx
  packages/react/tsconfig.json
  packages/react/yarn.lock
Labels: react

#1 [LLM] Inputs, with stories + lint/prettier existing stories
  packages/native/package.json
  packages/native/src/components/Form/Input/BaseInput/index.tsx
  packages/native/src/components/Form/Input/LegendInput/index.tsx
  packages/native/src/components/Form/Input/NumberInput/index.tsx
  packages/native/src/components/Form/Input/QrCodeInput/index.tsx
  packages/native/src/components/Form/Input/SearchInput/index.tsx
  packages/native/src/components/Layout/Flex/index.tsx
  packages/native/storybook/stories/Button/Button.stories.tsx
  packages/native/storybook/stories/Form/Input/BaseInput.stories.tsx
  packages/native/storybook/stories/Form/Input/LegendInput.stories.tsx
  packages/native/storybook/stories/Form/Input/NumberInput.stories.tsx
  packages/native/storybook/stories/Form/Input/QrCodeInput.stories.tsx
  packages/native/storybook/stories/Form/Input/SearchInput.stories.tsx
  packages/native/storybook/stories/Icon/AssetsIcons.stories.tsx
  packages/native/storybook/stories/Icon/IconBox.stories.tsx
  packages/native/storybook/stories/Layout/Flex.stories.tsx
  packages/native/storybook/stories/Layout/Modal/Tooltip.stories.tsx
  packages/native/storybook/stories/Layout/ScrollContainer.stories.tsx
  packages/native/storybook/stories/Loader/Loader.stories.tsx
  packages/native/storybook/stories/Navigation/SlideIndicator/SlideIndicator.stories.tsx
  packages/native/storybook/stories/Text/Text.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

#2 LL-6653 - CTA - Create the toggle component
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/cta/Toggle/Toggle.stories.tsx
  packages/react/src/components/cta/Toggle/index.tsx
Labels: react

#6 LL-7483 - Add CI
  .github/workflows/native.yml
  .github/workflows/react.yml
  packages/native/package.json
  packages/native/src/components/Button/index.tsx
  packages/native/src/components/Navigation/SlideIndicator/index.tsx
  packages/native/src/styles/StyleProvider.tsx
  packages/native/src/styles/helpers.ts
  packages/react/package.json
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/form/input/SelectInput/Option.tsx
  packages/react/src/components/form/input/SelectInput/Select.stories.tsx
  packages/react/src/components/form/input/SelectInput/index.tsx
  packages/react/src/components/navigation/Onboarding/Onboarding.tsx
  packages/react/src/styles/StyleProvider.tsx
  packages/react/src/styles/helpers.ts
  packages/react/src/styles/styled-components.d.ts
  packages/react/src/styles/theme.ts
Labels: core

#9 Update color palettes
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/form/input/BaseInput/index.tsx
  packages/react/src/components/form/input/SelectInput/Option.tsx
  packages/react/src/components/form/selectionControls/Checkbox/Checkbox.tsx
  packages/react/src/components/form/selectionControls/Switch/Switch.tsx
  packages/react/src/components/loaders/ProgressLoader/index.tsx
  packages/react/src/components/message/Alert/index.tsx
  packages/react/src/components/navigation/progressBars/stepper/ProgressSteps/index.tsx
  packages/react/src/components/navigation/sideBar/Item/Item.tsx
  packages/react/src/components/toasts/tags/Tag/index.tsx
  packages/react/src/styles/global.ts
  packages/react/src/styles/palettes/dark.json
  packages/react/src/styles/palettes/index.ts
  packages/react/src/styles/palettes/light.json
Labels: react

#10 Enable type checking for stories
  packages/react/src/assets/images/images.d.ts
  packages/react/src/components/asorted/Divider/Divider.stories.tsx
  packages/react/src/components/asorted/Icon/Icon.tsx
  packages/react/src/components/asorted/Icon/Icons.stories.tsx
  packages/react/src/components/asorted/Icon/index.tsx
  packages/react/src/components/cards/portfolio/Carousel/Carousel.stories.tsx
  packages/react/src/components/cards/portfolio/Carousel/Slide.tsx
  packages/react/src/components/cards/portfolio/Carousel/index.tsx
  packages/react/src/components/cta/Toggle/Toggle.stories.tsx
  packages/react/src/components/form/input/BaseInput/Input.stories.tsx
  packages/react/src/components/form/input/BaseInput/index.tsx
  packages/react/src/components/form/input/LegendInput/Input.stories.tsx
  packages/react/src/components/form/input/LegendInput/index.tsx
  packages/react/src/components/form/input/NumberInput/Input.stories.tsx
  packages/react/src/components/form/input/QrCodeInput/Input.stories.tsx
  packages/react/src/components/form/input/QuantityInput/Input.stories.tsx
  packages/react/src/components/form/input/SearchInput/Input.stories.tsx
  packages/react/src/components/form/input/SelectInput/Select.stories.tsx
  packages/react/src/components/form/input/SelectInput/index.tsx
  packages/react/src/components/form/selectionControls/Checkbox/Checkbox.stories.tsx
  packages/react/src/components/form/selectionControls/Switch/Switch.stories.tsx
  packages/react/src/components/layout/drawer/Side/Provider.tsx
  packages/react/src/components/layout/drawer/Side/Side.stories.tsx
  packages/react/src/components/layout/drawer/Side/index.tsx
  packages/react/src/components/loaders/InfiniteLoader/InfiniteLoader.stories.tsx
  packages/react/src/components/loaders/InfiniteLoader/index.tsx
  packages/react/src/components/loaders/ProgressLoader/ProgressLoader.stories.tsx
  packages/react/src/components/message/Alert/Alert.stories.tsx
  packages/react/src/components/navigation/Onboarding/Onboarding.stories.tsx
  packages/react/src/components/navigation/sideBar/Item/Item.stories.tsx
  packages/react/src/components/navigation/sideBar/SideBar/SideBar.stories.tsx
  packages/react/src/components/toasts/tags/Tag/Tag.stories.tsx
  packages/react/src/helpers.ts
  packages/react/tsconfig.json
Labels: react

#7 LL-7482 - Add Buttons, and update palette color and text style
  packages/native/package.json
  packages/native/src/components/Button/getButtonStyle.ts
  packages/native/src/components/Form/Input/BaseInput/index.tsx
  packages/native/src/components/Form/Input/NumberInput/index.tsx
  packages/native/src/components/Form/Input/QrCodeInput/index.tsx
  packages/native/src/components/Form/Input/SearchInput/index.tsx
  packages/native/src/components/Layout/Modal/index.tsx
  packages/native/src/components/Text/getTextStyle.ts
  packages/native/src/components/Text/index.tsx
  packages/native/src/components/cta/Button/getButtonStyle.ts
  packages/native/src/components/cta/Button/index.tsx
  packages/native/src/components/cta/getCtaStyle.ts
  packages/native/src/styles/palettes/dark.ts
  packages/native/src/styles/palettes/index.ts
  packages/native/src/styles/palettes/light.ts
  packages/native/storybook/stories/Button/Button.stories.tsx
  packages/native/storybook/stories/CenterView/index.tsx
  packages/native/storybook/stories/Form/Input/BaseInput.stories.tsx
  packages/native/storybook/stories/Layout/Modal/Tooltip.stories.tsx
  packages/native/yarn.lock
Labels: native
