Repository LedgerHQ/ui, pull requests merged in 2021-11, with the labels that each got.

#65 LLD Typography cleanup
  packages/react/README.md
  packages/react/src/components/Table/Columns.tsx
  packages/react/src/components/Table/Table.stories.tsx
  packages/react/src/components/Table/stories.helper.tsx
  packages/react/src/components/Tag/index.tsx
  packages/react/src/components/asorted/Text/Text.stories.tsx
  packages/react/src/components/asorted/Text/index.tsx
  packages/react/src/components/asorted/Text/styles.ts
  packages/react/src/components/cards/Carousel/Slide.tsx
  packages/react/src/components/cards/Carousel/index.tsx
  packages/react/src/components/cta/Link/index.tsx
  packages/react/src/components/cta/getCtaStyle.ts
  packages/react/src/components/form/BaseInput/index.tsx
  packages/react/src/components/form/Dropdown/index.tsx
  packages/react/src/components/form/LegendInput/index.tsx
  packages/react/src/components/form/NumberInput/index.tsx
  packages/react/src/components/form/QuantityInput/index.tsx
  packages/react/src/components/form/Radio/RadioElement.stories.tsx
  packages/react/src/components/form/Radio/RadioElement.tsx
  packages/react/src/components/form/SelectInput/Option.tsx
  packages/react/src/components/form/SelectInput/Select.stories.tsx
  packages/react/src/components/form/SelectInput/ValueContainer.tsx
  packages/react/src/components/form/SelectInput/index.tsx
  packages/react/src/components/form/SplitInput/SplitInput.stories.tsx
  packages/react/src/components/form/Switch/Switch.tsx
  packages/react/src/components/loaders/ProgressLoader/index.tsx
  packages/react/src/components/message/Alert/index.tsx
  packages/react/src/components/message/Log/index.tsx
  packages/react/src/components/message/Notification/index.tsx
  packages/react/src/components/message/Tooltip/Tooltip.stories.tsx
  packages/react/src/components/message/Tooltip/index.tsx
  packages/react/src/components/navigation/Aside/Aside.stories.tsx
  packages/react/src/components/navigation/Breadcrumb/Breadcrumb.stories.tsx
  packages/react/src/components/navigation/Breadcrumb/index.tsx
  packages/react/src/components/navigation/Header/Header.stories.tsx
  packages/react/src/components/navigation/progress/ProgressBar/Onboarding.tsx
  packages/react/src/components/navigation/progress/Stepper/index.tsx
  packages/react/src/components/navigation/sideBar/Item/Item.stories.tsx
  packages/react/src/components/navigation/sideBar/Item/Item.tsx
  packages/react/src/components/tabs/Bar/Bar.stories.tsx
  packages/react/src/components/tabs/Pill/Pill.stories.tsx
  packages/react/src/components/tabs/Tabs/Tabs.stories.tsx
  packages/react/src/styles/Spacing.stories.tsx
  packages/react/src/styles/global.ts
  packages/react/src/styles/palettes/colors.stories.tsx
  packages/react/src/styles/theme.ts
Labels: react

#67 LLM Typography cleanup
  packages/native/README.md
  packages/native/src/components/Form/Checkbox/index.tsx
  packages/native/src/components/Form/Input/LegendInput/index.tsx
  packages/native/src/components/Form/Input/NumberInput/index.tsx
  packages/native/src/components/Form/Slider/components.tsx
  packages/native/src/components/Form/Slider/index.native.tsx
  packages/native/src/components/Form/Switch/index.tsx
  packages/native/src/components/Layout/Modals/BaseModal/index.tsx
  packages/native/src/components/Text/getTextStyle.ts
  packages/native/src/components/Text/index.tsx
  packages/native/src/components/cta/Button/index.tsx
  packages/native/src/components/cta/Link/index.tsx
  packages/native/src/components/cta/getCtaStyle.ts
  packages/native/src/components/drawer/Notification/index.tsx
  packages/native/src/components/tags/Badge/index.tsx
  packages/native/src/styles/theme.ts
  packages/native/storybook/stories/Layout/Flex.stories.tsx
  packages/native/storybook/stories/Layout/ScrollContainerHeader.stories.tsx
  packages/native/storybook/stories/Layout/Table.stories.tsx
  packages/native/storybook/stories/Particles/Spacing.stories.tsx
  packages/native/storybook/stories/Tag/Badge.stories.tsx
  packages/native/storybook/stories/Text/Text.stories.tsx
Labels: native

#71 core: expose link component globally
  packages/react/src/components/cta/index.ts
Labels: react

#68 Fix styling for disabled and active sidebar items
  packages/react/src/components/navigation/sideBar/Item/Item.stories.tsx
  packages/react/src/components/navigation/sideBar/Item/Item.tsx
Labels: react

#75 fix: expose tabs component
  packages/react/src/components/tabs/index.ts
Labels: react

#80 Add React examples and use them for end to end testing
  .github/workflows/react.yml
  .gitignore
  examples/.gitignore
  examples/next.js/.babelrc
  examples/next.js/README.md
  examples/next.js/package.json
  examples/next.js/pages/_app.js
  examples/next.js/pages/_document.js
  examples/next.js/pages/index.js
  examples/next.js/public/fonts/HMAlphaMono-Medium.woff2
  examples/next.js/public/fonts/Inter-Bold.woff2
  examples/next.js/public/fonts/Inter-ExtraBold.woff2
  examples/next.js/public/fonts/Inter-ExtraLight-BETA.woff2
  examples/next.js/public/fonts/Inter-Light-BETA.woff2
  examples/next.js/public/fonts/Inter-Medium.woff2
  examples/next.js/public/fonts/Inter-Regular.woff2
  examples/next.js/public/fonts/Inter-SemiBold.woff2
  examples/webpack.js/README.md
  examples/webpack.js/babel.config.json
  examples/webpack.js/package.json
  examples/webpack.js/src/App.js
  examples/webpack.js/src/index.ejs
  examples/webpack.js/src/index.js
  examples/webpack.js/webpack.config.js
  package.json
  packages/react/scripts/prepareRelease.js
  tests/react.script.js
  tests/react.spec.js
  tests/react.spec.js-snapshots/dark-darwin.png
  tests/react.spec.js-snapshots/dark-linux.png
  tests/react.spec.js-snapshots/light-darwin.png
  tests/react.spec.js-snapshots/light-linux.png
  yarn.lock
Labels: react

#77 LLD - Tag complete implementation of design spec
  packages/react/src/components/Tag/Tag.stories.tsx
  packages/react/src/components/Tag/index.tsx
Labels: react

#78 (Bonus): glitch text animation
  packages/react/src/components/animations/GlitchText/GlitchText.stories.tsx
  packages/react/src/components/animations/GlitchText/index.tsx
  packages/react/src/components/asorted/Text/index.tsx
  packages/react/src/components/layout/Flex/index.ts
Labels: react

#76 LL-7758 Improvements to the Header and SideBar
  packages/react/src/components/navigation/Header/index.tsx
  packages/react/src/components/navigation/sideBar/Item/Item.stories.tsx
  packages/react/src/components/navigation/sideBar/Item/Item.tsx
Labels: react

#73 LL-7962 - Sidebar fixes, theme and layout, always display toggle
  packages/react/src/components/navigation/sideBar/Item/Item.tsx
  packages/react/src/components/navigation/sideBar/SideBar/SideBar.stories.tsx
  packages/react/src/components/navigation/sideBar/SideBar/SideBar.tsx
  packages/react/src/components/navigation/sideBar/Toggle/Toggle.tsx
Labels: react

#81 React - Button component - Overview story
  packages/react/src/components/cta/Button/Button.stories.tsx
  packages/react/src/components/cta/Button/index.tsx
Labels: react

#82 LLD shared style + box
  packages/react/src/components/Chart/Chart.stories.tsx
  packages/react/src/components/asorted/Text/index.tsx
  packages/react/src/components/cards/Carousel/index.tsx
  packages/react/src/components/cta/Button/Button.stories.tsx
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/cta/Toggle/index.tsx
  packages/react/src/components/form/BaseInput/Input.stories.tsx
  packages/react/src/components/layout/Box/Box.stories.tsx
  packages/react/src/components/layout/Box/index.ts
  packages/react/src/components/layout/Flex/Flex.stories.tsx
  packages/react/src/components/layout/Flex/index.ts
  packages/react/src/components/layout/index.ts
  packages/react/src/styles/global.ts
  packages/react/src/styles/index.ts
  packages/react/src/styles/reset.ts
  packages/react/src/styles/system/shared.ts
  packages/react/src/styles/theme.ts
  tests/react.spec.js-snapshots/dark-linux.png
  tests/react.spec.js-snapshots/light-linux.png
Labels: react, breaking

#89 feat(react): add input component warning prop
  packages/react/src/components/form/BaseInput/Input.stories.tsx
  packages/react/src/components/form/BaseInput/index.tsx
Labels: react

#84 quality(tabs): remove useEffect warning
  packages/react/src/components/tabs/Tabs/index.tsx
Labels: react

#88 Input serializers
  packages/native/src/components/Form/Input/BaseInput/index.tsx
  packages/native/src/components/Form/Input/NumberInput/index.tsx
  packages/native/storybook/stories/Form/Input/BaseInput.stories.tsx
  packages/native/storybook/stories/Form/Input/LegendInput.stories.tsx
  packages/native/storybook/stories/Form/Input/NumberInput.stories.tsx
  packages/native/storybook/stories/Form/Input/QrCodeInput.stories.tsx
  packages/native/storybook/stories/Form/Input/SearchInput.stories.tsx
  packages/native/tsconfig.json
  packages/react/src/components/form/BaseInput/Input.stories.tsx
  packages/react/src/components/form/BaseInput/index.tsx
  packages/react/src/components/form/NumberInput/Input.stories.tsx
  packages/react/src/components/form/NumberInput/index.tsx
Labels: react, native, breaking

#86 Particles - Spacing Story - Display "space[index+1]"
  packages/native/storybook/stories/Particles/Spacing.stories.tsx
  packages/react/src/styles/Spacing.stories.tsx
Labels: react, native

#91 Add better pull request bot comment
  .github/workflows/native.yml
  .github/workflows/react.yml
  package.json
Labels: core

#90 Add wrapper styled with base styled-systems
  packages/react/src/components/Table/Columns.tsx
  packages/react/src/components/asorted/Text/index.tsx
  packages/react/src/components/cta/Button/Button.stories.tsx
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/layout/Flex/Flex.stories.tsx
  packages/react/src/components/layout/Flex/index.ts
  packages/react/src/components/layout/Popin/index.tsx
  packages/react/src/components/styled.ts
Labels: react

#93 Add BaseStyled to common components + baseStyled story + Box component
  packages/react/src/components/Table/index.tsx
  packages/react/src/components/Tag/Tag.stories.tsx
  packages/react/src/components/Tag/index.tsx
  packages/react/src/components/cta/Link/index.tsx
  packages/react/src/components/layout/Box/Box.stories.tsx
  packages/react/src/components/layout/Box/index.ts
  packages/react/src/components/layout/Flex/Flex.stories.tsx
  packages/react/src/components/layout/Grid/index.ts
  packages/react/src/components/layout/index.ts
  packages/react/src/components/styled.stories.tsx
  packages/react/src/components/tabs/Bar/index.tsx
  packages/react/src/components/tabs/Pill/index.tsx
Labels: react

#79 LLD/React - Text component - Missing styles/variants + Story with all combinations from design system
  packages/react/src/components/asorted/Text/Text.stories.tsx
  packages/react/src/components/asorted/Text/styles.ts
  packages/react/src/styles/theme.ts
Labels: react

#72 LLD - Tips + Drawer + fixes for Info Side Drawer
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/layout/Drawer/Drawer.stories.tsx
  packages/react/src/components/layout/Drawer/index.tsx
  packages/react/src/components/layout/Side/index.tsx
  packages/react/src/components/layout/index.ts
  packages/react/src/components/message/Tip/Tip.stories.tsx
  packages/react/src/components/message/Tip/index.tsx
  packages/react/src/components/message/index.ts
Labels: react

#92 feat(organism): improve pop-in component + create unstyled button
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/layout/Popin/Popin.stories.tsx
  packages/react/src/components/layout/Popin/index.tsx
Labels: react

#95 feat(native): add selectable list component
  packages/native/src/components/Form/SelectableList.tsx
  packages/native/src/components/Form/index.ts
  packages/native/storybook/stories/Form/SelectableList.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

#94 [BREAKING CHANGE] Replace Button type by variant to avoid conflict
  packages/react/src/components/Chart/Chart.stories.tsx
  packages/react/src/components/cta/Button/Button.stories.tsx
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/cta/Toggle/index.tsx
  packages/react/src/components/form/BaseInput/Input.stories.tsx
  packages/react/src/components/layout/Drawer/Drawer.stories.tsx
  packages/react/src/components/layout/Popin/Popin.stories.tsx
  packages/react/src/components/styled.ts
  tests/react.spec.js-snapshots/dark-darwin.png
  tests/react.spec.js-snapshots/dark-linux.png
  tests/react.spec.js-snapshots/light-darwin.png
  tests/react.spec.js-snapshots/light-linux.png
Labels: react, breaking

#74 Add list element for Radio (React)
  packages/react/src/components/form/Radio/Radio.stories.tsx
  packages/react/src/components/form/Radio/RadioElement.tsx
  packages/react/src/components/form/Radio/RadioListElement.stories.tsx
  packages/react/src/components/form/Radio/RadioListElement.tsx
  packages/react/src/components/form/Radio/index.tsx
Labels: react

#97 Better select input docs
  packages/react/src/components/form/Dropdown/Dropdown.stories.tsx
  packages/react/src/components/form/SelectInput/Select.stories.tsx
  packages/react/src/components/form/SelectInput/index.tsx
  packages/react/src/components/helpers.ts
Labels: react

#96 LL-8013 - Improvements for the Notifications center
  packages/react/src/components/asorted/Icon/Icon.tsx
  packages/react/src/components/asorted/Icon/Icons.stories.tsx
  packages/react/src/components/asorted/Icon/index.tsx
  packages/react/src/components/asorted/Text/index.tsx
  packages/react/src/components/asorted/index.ts
  packages/react/src/components/layout/Drawer/index.tsx
  packages/react/src/components/message/Notification/index.tsx
  packages/react/src/components/message/StatusNotification/StatusNotification.stories.tsx
  packages/react/src/components/message/StatusNotification/index.tsx
  packages/react/src/components/message/index.ts
Labels: react

#98 LL-8213 Add chip style tabs component
  packages/react/src/components/tabs/Chip/Chip.stories.tsx
  packages/react/src/components/tabs/Chip/index.tsx
  packages/react/src/components/tabs/index.ts
Labels: react

#101 Remove the pesky reset css
  packages/react/src/components/asorted/Text/Text.stories.tsx
  packages/react/src/components/cta/Button/Button.stories.tsx
  packages/react/src/components/form/SelectInput/Select.stories.tsx
  packages/react/src/styles/global.ts
  packages/react/src/styles/index.ts
  packages/react/src/styles/reset.ts
  tests/react.spec.js-snapshots/dark-darwin.png
  tests/react.spec.js-snapshots/dark-linux.png
  tests/react.spec.js-snapshots/light-darwin.png
  tests/react.spec.js-snapshots/light-linux.png
Labels: react, breaking

#106 Improve Checkbox/Flex
  packages/native/src/components/Form/Checkbox/index.tsx
  packages/native/src/components/Layout/Flex/index.tsx
  packages/native/src/styles/theme.ts
Labels: native

#104 Add row customization options for the table and improve story
  packages/react/src/components/Table/Columns.tsx
  packages/react/src/components/Table/Table.stories.tsx
  packages/react/src/components/Table/index.tsx
  packages/react/src/components/Table/stories.helper.tsx
  packages/react/src/components/styled.ts
Labels: react, breaking

#105 (Native) Add baseStyled - Use it for CTA, flex, box - add Box
  packages/native/src/components/Layout/Box/index.ts
  packages/native/src/components/Layout/Flex/index.tsx
  packages/native/src/components/Layout/index.ts
  packages/native/src/components/cta/Button/index.tsx
  packages/native/src/components/styled.ts
  packages/native/storybook/stories/Layout/Box.stories.tsx
  packages/native/storybook/stories/Layout/Flex.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

#108 Add two more levels of radii on desktop lib
  packages/react/src/styles/theme.ts
Labels: react

#107 Implement a carousel component
  packages/native/package.json
  packages/native/src/components/Carousel/index.tsx
  packages/native/src/components/Layout/Flex/index.tsx
  packages/native/src/components/Navigation/SlideIndicator/index.tsx
  packages/native/src/components/index.ts
  packages/native/storybook/stories/Carousel/Carousel.stories.tsx
  packages/native/storybook/stories/Navigation/SlideIndicator/SlideIndicator.stories.tsx
  packages/native/storybook/stories/index.ts
  yarn.lock
Labels: native
