Repository LedgerHQ/ui, pull requests merged in 2021-12, with the labels that each got.

#109 React - BoxedIcon component
  packages/react/src/components/asorted/Icon/BoxedIcon.stories.tsx
  packages/react/src/components/asorted/Icon/BoxedIcon.tsx
  packages/react/src/components/asorted/Icon/Icon.tsx
  packages/react/src/components/asorted/Icon/Icons.stories.tsx
  packages/react/src/components/asorted/Icon/index.tsx
  packages/react/src/components/styled.ts
Labels: react

#110 React - Alert & Link enhancements
  packages/react/src/components/cta/Link/Link.stories.tsx
  packages/react/src/components/cta/Link/index.tsx
  packages/react/src/components/message/Alert/Alert.stories.tsx
  packages/react/src/components/message/Alert/index.tsx
Labels: react

#111 Forward inputs ref
  packages/native/src/components/Form/Input/BaseInput/index.tsx
  packages/native/src/components/Form/Input/LegendInput/index.tsx
  packages/native/src/components/Form/Input/NumberInput/index.tsx
  packages/native/src/components/Form/Input/QrCodeInput/index.tsx
  packages/native/src/components/Form/Input/SearchInput/index.tsx
  packages/react/src/components/form/BaseInput/index.tsx
  packages/react/src/components/form/LegendInput/index.tsx
  packages/react/src/components/form/NumberInput/index.tsx
  packages/react/src/components/form/QrCodeInput/index.tsx
  packages/react/src/components/form/QuantityInput/index.tsx
  packages/react/src/components/form/SearchInput/index.tsx
Labels: react, native

#116 Improve SelectableList (add disabled and Icon)
  packages/native/src/components/Form/SelectableList.tsx
  packages/native/storybook/stories/Form/SelectableList.stories.tsx
Labels: native

#117 Export Boxed Icon as a standalone component
  packages/react/src/components/asorted/index.ts
Labels: react

#112 React - Fix shrinking of Radio box ⚠️ Big PR
  packages/react/src/components/form/Radio/RadioElement.tsx
Labels: react

#113 React - RadioElement - New style with outlined padded box
  packages/react/src/components/form/Radio/Radio.stories.tsx
  packages/react/src/components/form/Radio/RadioElement.tsx
Labels: react

#115 Add ProgressBar & FlowStepper components
  packages/native/src/components/Form/index.ts
  packages/native/src/components/Navigation/FlowStepper/index.tsx
  packages/native/src/components/Navigation/index.ts
  packages/native/src/components/ProgressBar/index.tsx
  packages/native/src/components/index.ts
  packages/native/src/components/transitions/Fade.tsx
  packages/native/src/components/transitions/Slide.tsx
  packages/native/src/components/transitions/Transition.tsx
  packages/native/src/components/transitions/index.ts
  packages/native/src/components/transitions/types.ts
  packages/native/storybook/stories/FlowStepper/FlowStepper.stories.tsx
  packages/native/storybook/stories/FlowStepper/illustration_0.png
  packages/native/storybook/stories/FlowStepper/illustration_1.png
  packages/native/storybook/stories/FlowStepper/illustration_2.png
  packages/native/storybook/stories/ProgressBar/ProgressBar.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

#114 fix(shared): update purple color
  packages/shared/palettes/light.ts
Labels: shared

#120 React - ProgressLoader - Add more customization possibilities
  packages/react/src/components/loaders/ProgressLoader/ProgressLoader.stories.tsx
  packages/react/src/components/loaders/ProgressLoader/index.tsx
Labels: react

#121 React - InfiniteLoader - Add size prop
  packages/react/src/components/loaders/InfiniteLoader/InfiniteLoader.stories.tsx
  packages/react/src/components/loaders/InfiniteLoader/index.tsx
Labels: react

#119 Buttons improvements
  packages/react/src/components/Table/Table.stories.tsx
  packages/react/src/components/cta/Button/Button.stories.tsx
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/index.ts
  packages/react/src/styles/InvertTheme.tsx
  packages/react/src/styles/index.ts
Labels: react, breaking

#103 More versatile ToggleGroup - add NavToggleGroup - enhance Notificatio…
  packages/native/src/components/Navigation/ToggleGroup/index.tsx
  packages/native/src/components/Navigation/index.ts
  packages/native/src/components/Tabs/Chip/index.tsx
  packages/native/src/components/Tabs/Graph/index.tsx
  packages/native/src/components/Tabs/TemplateTabs/index.tsx
  packages/native/src/components/Tabs/index.ts
  packages/native/src/components/drawer/index.ts
  packages/native/src/components/index.ts
  packages/native/src/components/message/Notification/index.tsx
  packages/native/src/components/message/index.ts
  packages/native/storybook/stories/Navigation/ToggleGroup.stories.tsx
  packages/native/storybook/stories/Tabs/ChipTabs/ChipTabs.stories.tsx
  packages/native/storybook/stories/Tabs/GraphTabs/GraphTabs.stories.tsx
  packages/native/storybook/stories/index.ts
  packages/native/storybook/stories/message/Notification/Notification.stories.tsx
Labels: native, breaking

#124 chore(react): fix wrong padding placement on Drawer component
  packages/react/src/components/layout/Drawer/index.tsx
Labels: react

#126 Add background color to side drawer component
  packages/react/src/components/layout/Drawer/Drawer.stories.tsx
  packages/react/src/components/layout/Drawer/index.tsx
Labels: react

#125 Upgrade react-select
  packages/icons/package.json
  packages/icons/tsconfig.json
  packages/react/package.json
  packages/react/src/components/form/Dropdown/Dropdown.stories.tsx
  packages/react/src/components/form/Dropdown/index.tsx
  packages/react/src/components/form/SelectInput/Control.tsx
  packages/react/src/components/form/SelectInput/DropdownIndicator.tsx
  packages/react/src/components/form/SelectInput/IndicatorsContainer.tsx
  packages/react/src/components/form/SelectInput/MenuList.tsx
  packages/react/src/components/form/SelectInput/Option.tsx
  packages/react/src/components/form/SelectInput/Select.stories.tsx
  packages/react/src/components/form/SelectInput/ValueContainer.tsx
  packages/react/src/components/form/SelectInput/VirtualMenuList.tsx
  packages/react/src/components/form/SelectInput/index.tsx
  packages/react/src/components/form/SplitInput/SplitInput.stories.tsx
  packages/react/src/components/navigation/Breadcrumb/index.tsx
  yarn.lock
Labels: react, icons, breaking

#122 chore(react): use handcrafted svg for the infinite loader
  packages/react/src/components/loaders/InfiniteLoader/InfiniteLoader.stories.tsx
  packages/react/src/components/loaders/InfiniteLoader/image.tsx
  packages/react/src/components/loaders/InfiniteLoader/index.tsx
Labels: react

#127 React - Alert - Add renderRight & containerProps
  packages/react/src/components/message/Alert/Alert.stories.tsx
  packages/react/src/components/message/Alert/index.tsx
Labels: react

#123 chore(react): Add preventBackdropClick prop to side drawer
  packages/react/src/components/layout/Drawer/Drawer.stories.tsx
  packages/react/src/components/layout/Drawer/index.tsx
Labels: react

#128 Add footer to Drawer component + minor CSS fixes
  packages/react/src/components/layout/Drawer/Drawer.stories.tsx
  packages/react/src/components/layout/Drawer/index.tsx
Labels: react

#129 (Button): focus ring color+animation adapted
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/form/BaseInput/index.tsx
  packages/react/src/styles/theme.ts
Labels: react

#130 Use FlexBox instead of Div for drawer Wrapper
  packages/react/src/components/layout/Drawer/index.tsx
Labels: react

#118 Lists (List, NumberedList, TipList, IconBoxList) + linter now checking for storybook folder
  packages/native/package.json
  packages/native/src/components/Icon/IconBox/index.tsx
  packages/native/src/components/Icon/type.ts
  packages/native/src/components/Layout/List/IconBoxList/index.tsx
  packages/native/src/components/Layout/List/List/index.tsx
  packages/native/src/components/Layout/List/NumberedList/index.tsx
  packages/native/src/components/Layout/List/TipList/index.tsx
  packages/native/src/components/Layout/List/index.ts
  packages/native/src/components/Layout/index.ts
  packages/native/storybook/stories/Form/SelectableList.stories.tsx
  packages/native/storybook/stories/Layout/Box.stories.tsx
  packages/native/storybook/stories/Layout/List/IconBoxList.stories.tsx
  packages/native/storybook/stories/Layout/List/List.stories.tsx
  packages/native/storybook/stories/Layout/List/NumberedList.stories.tsx
  packages/native/storybook/stories/Layout/List/TipList.stories.tsx
  packages/native/storybook/stories/Tabs/ChipTabs/ChipTabs.stories.tsx
  packages/native/storybook/stories/Tabs/GraphTabs/GraphTabs.stories.tsx
Labels: native

#136 Fix portals
  packages/react/.storybook/preview-body.html
  packages/react/src/components/layout/Drawer/index.tsx
  packages/react/src/components/layout/Popin/index.tsx
Labels: react, breaking

#135 Add flow stepper component
  packages/react/src/components/navigation/FlowStepper/FlowStepper.stories.tsx
  packages/react/src/components/navigation/FlowStepper/index.tsx
  packages/react/src/components/navigation/index.ts
  packages/react/src/components/navigation/progress/Stepper/index.tsx
Labels: react

#138 Drawer improvements
  packages/react/src/components/layout/Drawer/Drawer.stories.tsx
  packages/react/src/components/layout/Drawer/index.tsx
Labels: react

#132 React - Stepper - Add possibility for label to be a ReactNode
  packages/react/src/components/navigation/progress/Stepper/ProgressSteps.stories.tsx
  packages/react/src/components/navigation/progress/Stepper/index.tsx
Labels: react

#133 Native - Add render right to selectable list item
  packages/native/src/components/Form/SelectableList.tsx
  packages/native/src/components/Text/index.tsx
  packages/native/storybook/stories/Form/SelectableList.stories.tsx
Labels: native

#134 Port InfiniteLoader from desktop to native
  packages/native/src/components/Loader/InfiniteLoader/index.tsx
  packages/native/src/components/Loader/ProgressLoader/index.tsx
  packages/native/src/components/Loader/index.ts
  packages/native/src/components/index.ts
  packages/native/storybook/stories/Loader/InfiniteLoader.stories.tsx
  packages/native/storybook/stories/Loader/ProgressLoader.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

#137 Prevent side-bar from shrinking to sibling content
  packages/react/src/components/navigation/sideBar/SideBar/SideBar.tsx
Labels: react

#140 Native - BoxedIcon component
  packages/native/src/components/Icon/BoxedIcon.tsx
  packages/native/src/components/Icon/index.ts
  packages/native/storybook/stories/CenterView/index.tsx
  packages/native/storybook/stories/Icon/BoxedIcon.stories.tsx
  packages/native/storybook/stories/index.ts
  packages/react/src/components/asorted/Icon/BoxedIcon.tsx
Labels: react, native

#141 Native - Add uppercase & textTransform styled system + h1..4, subtitle in Uppercase
  packages/native/src/components/Text/getTextStyle.ts
  packages/native/src/components/Text/index.tsx
  packages/native/storybook/stories/Text/Text.stories.tsx
  packages/native/storybook/stories/Text/TextOverview.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

#145 Progress stepper: add the ability to disable progress steps
  packages/react/src/components/navigation/progress/Stepper/ProgressSteps.stories.tsx
  packages/react/src/components/navigation/progress/Stepper/index.tsx
Labels: react

#142 docs(storybook): expose list component
  packages/native/storybook/stories/index.ts
Labels: native

#143 feat: make flowstepper progressbar customisable
  packages/native/src/components/Navigation/FlowStepper/index.tsx
Labels: native

#144 fix: avoid text overflow in row mode
  packages/native/src/components/Form/Switch/index.tsx
  packages/native/src/components/Layout/List/List/index.tsx
Labels: native

#146 Fix text overflow on multiple native components + little fix on selec…
  packages/native/src/components/Form/SelectableList.tsx
  packages/native/src/components/Icon/type.ts
  packages/native/src/components/Layout/List/List/index.tsx
  packages/native/src/components/message/Alert/index.tsx
  packages/native/storybook/stories/index.ts
Labels: native

#147 Flow stepper can now have hidden steps
  packages/react/src/components/navigation/FlowStepper/FlowStepper.stories.tsx
  packages/react/src/components/navigation/FlowStepper/index.tsx
Labels: react

#151 Add back buttons' focus box-shadow
  packages/react/src/components/cta/Button/index.tsx
Labels: react

#149 LL-8804 Add possibility of using an icon name for icon buttons
  packages/native/src/components/Icon/Icon.tsx
  packages/native/src/components/Icon/index.ts
  packages/native/src/components/cta/Button/index.tsx
  packages/native/storybook/stories/Button/Button.stories.tsx
  packages/native/storybook/stories/Icon/AssetsIcons.stories.tsx
  packages/react/src/components/cta/Button/index.tsx
Labels: react, native

#148 Boxed icon variant circle
  packages/native/src/components/Icon/BoxedIcon.tsx
  packages/native/storybook/stories/Icon/BoxedIcon.stories.tsx
Labels: native

#152 React - Generic dropdown
  packages/react/package.json
  packages/react/src/components/form/Dropdown/index.tsx
  packages/react/src/components/form/DropdownGeneric/DropdownGeneric.stories.tsx
  packages/react/src/components/form/DropdownGeneric/index.tsx
  packages/react/src/components/form/SelectInput/MenuList.tsx
  packages/react/src/components/form/index.ts
  yarn.lock
Labels: react
