Repository LedgerHQ/ui, pull requests merged in 2022-01, with the labels that each got.

#153 React - Dropdown overflow behavior
  packages/react/src/components/form/DropdownGeneric/DropdownGeneric.stories.tsx
  packages/react/src/components/form/DropdownGeneric/index.tsx
Labels: react

#157 fix(flowstepper): correctly type progressBarProps
  packages/native/src/components/Navigation/FlowStepper/index.tsx
Labels: native

#158 feat(iconbox): add props to override the container
  packages/native/src/components/Icon/IconBox/index.tsx
Labels: enhancement, native

#162 Slider add events
  packages/native/src/components/Form/Slider/index.native.tsx
Labels: native

#161 docs: harmonise ScrollContainer story
  packages/native/storybook/stories/Layout/ScrollContainer.stories.tsx
Labels: native

#160 feat(layout): create ScrollListContainer component
  packages/native/src/components/Layout/ScrollListContainer/index.tsx
  packages/native/src/components/Layout/index.ts
  packages/native/storybook/stories/Layout/ScrollListContainer.stories.tsx
  packages/native/storybook/stories/index.ts
Labels: native

#155 Native - Modals -> Use BoxedIcon; fix margins
  packages/native/src/components/Layout/Modals/BaseModal/index.tsx
  packages/native/src/components/Layout/Modals/Popin/index.tsx
Labels: native

#154 Native - Alert - Allow children in addition to formatted title
  packages/native/src/components/message/Alert/index.tsx
Labels: native

#165 Fix icon with same name
  packages/icons/src/svg/medium/sort-1.svg
  packages/icons/src/svg/medium/sort-2-alt.svg
  packages/icons/src/svg/medium/sort-2.svg
  packages/icons/src/svg/medium/sort.svg
Labels: icons

#164 Add disabled state to tabs - Add small size to graph tabs (for account page)
  packages/native/src/components/Tabs/Chip/index.tsx
  packages/native/src/components/Tabs/Graph/index.tsx
  packages/native/src/components/Tabs/TemplateTabs/index.tsx
  packages/native/storybook/stories/Tabs/ChipTabs/ChipTabs.stories.tsx
  packages/native/storybook/stories/Tabs/GraphTabs/GraphTabs.stories.tsx
Labels: native

#166 Add FlowStepper.Indexed, Add more possibilites for header & footer rendering
  packages/react/src/components/navigation/FlowStepper/FlowStepper.stories.tsx
  packages/react/src/components/navigation/FlowStepper/index.tsx
Labels: react

#167 Correct Modal css to follow figma design (margins)
  packages/native/src/components/Layout/Modals/BaseModal/index.tsx
Labels: native
