Repository LedgerHQ/ui, pull requests merged in 2022-02, with the labels that each got.

#168 Fix GraphTabs item borderRadius not working on iOS
  packages/native/src/components/Tabs/Graph/index.tsx
Labels: native

#169 Native - ScrollContainerHeader - Export horizontal padding
  packages/native/src/components/Layout/ScrollContainerHeader/Header.tsx
  packages/native/src/components/Layout/ScrollContainerHeader/index.tsx
Labels: native

#170 LLM - Reduce padding inside graph tabs
  packages/native/src/components/Tabs/Graph/index.tsx
Labels: native

#171 LLM - BottomDrawer : Fix incompatibility with scroll view, set max he…
  packages/native/src/components/Layout/Modals/BottomDrawer/index.tsx
  packages/native/storybook/stories/Layout/Modal/BottomDrawer.stories.tsx
Labels: native

#172 LL-7755 - ProgressLoader component improved and purple color fixed on dark theme
  packages/native/src/components/Loader/ProgressLoader/index.tsx
  packages/native/src/components/Loader/index.ts
  packages/native/storybook/stories/Loader/ProgressLoader.stories.tsx
  packages/shared/palettes/dark.ts
Labels: native, shared, breaking

#173 Add clearable prop to input
  packages/react/src/components/cta/Button/index.tsx
  packages/react/src/components/form/BaseInput/Input.stories.tsx
  packages/react/src/components/form/BaseInput/index.tsx
Labels: react
